*{
    margin: 0;
    padding: 0;
}

    .header-container{
    @extend  %header;
        .header{
            width: 60%;
    display: flex;
    /* distribuir horinzontalmente
    los elementos en todo su ancho*/
    justify-content: space-around;
        }
}